* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
}

p{
    margin-right: 30px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    align-self: center;
    font-size: 20px;
    text-align: center;
}

input {
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.size-logo {
    margin-right: 20px;
}

.size-lupa {
    margin-left: 15px;
}

.perfil {
    border-radius: 100%;
    margin-right: 20px;
}

.size-6 {
    margin-right: 10px;
}

.navegacao {
    align-items: center;
    display: flex;
}

.cabecalho {
    display: flex;
    position: fixed;
    padding: 0 40px;
    background-color: white;
    z-index: 1000;
    width: 100%;
}

.sublistanavegacaoesquerda {
    margin-right: 20px;
}

.navegacaosecundaria {
    display: flex;
}

.segundanav {
    display: flex;
}

.sublistanavegacaodireita {
    margin-right: 20px;
}

.barra {
    padding: 0 100px;
}