.titulorobocraft {
    max-width: 100%;
    object-fit: cover;
    text-align: center;
    margin-bottom: 40px;
}

.robo {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.gridimg img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

.imagem {
    position: relative;
}

.imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}