ul {
    list-style-type: none;
    display: flex;
}

li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    text-align: center;
    color: #c6c6c6;
    background: white;
    border-radius: 6px;
    border: 1px  solid white;
    padding: 10px 25px;
}

a:hover {
    border: 1px solid #ee2211;
}

.navegacao {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}